.HeroSection {
  background-size: contain;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign {
  padding: 40px 20px;
  font-size: 24px;
}
