body {
  background: #000000;
  background: radial-gradient(
    circle farthest-side at center center,
    #000000 30%,
    #ff006a 400%
  );
  background: -webkit-radial-gradient(
    circle farthest-side at center center,
    #000000 30%,
    #ff006a 400%
  );
  background: -moz-radial-gradient(
    circle farthest-side at center center,
    #000000 30%,
    #ff006a 400%
  );

  color: #fff;

  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
